@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 8px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


:root {
  --bg-light: #FFFFFF;
  --color-yellow: #FFBF3D;
  --color-dark-orange: #FF8D01;
  --color-sapphire: #200440;
  --color-white: #F8F9FB;
  --color-grey: #4f5b66;
  --color-silver: #63717f;
  --color-dark: #343438;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: var(--color-white);
  overflow-x: hidden;
}

/*
  
*/

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Navbar */

.nav {
  background: var(--color-dark);
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: white;
}
.nav .nav-logo h4 {
  letter-spacing: 3px;
}
.nav ul {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-between;
}
.nav ul li a {
  color: var(--color-white);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--color-white);
  transition: all 0.5s;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -10px;
  top: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background: var(--color-yellow);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked~span:nth-child(4) {
  background: var(--color-yellow);
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*
  header
*/

.header {
  height: 350px;
  background: var(--color-yellow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.header-text {
  color: var(--color-sapphire);
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  box-sizing: border-box;
}
.header-text h2 {
  margin-bottom: 5px;
  letter-spacing: 5px;
  padding: 10px;
  background: var(--color-dark);
  color: var(--color-white);
}
.header-text span {
  font-weight: 600;
  font-size: 2rem;
}
.header-img {
  width: 300px;
  height: 300px;
}

/* Search Form */
.search {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -25px;
}
.form-search {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.form-search .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: -9px;
  z-index: 1;
  color: var(--color-grey);
}
.form-search .form {
  width: 350px;
  height: 50px;
  background: var(--color-white);
  border: none;
  font-size: 10pt;
  float: left;
  color: var(--color-silver);
  padding-left: 45px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-search .form input:hover, input:focus, input:active {
  outline: none;
}

/* car */

.card-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px 10px;
}
.car {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  justify-content: center;
}
.car .card {
  width: 140px;
  height: 200px;
  margin: 5px;
  border-radius: 15px;
}
.car .card .card-img {
  height: 110px;
}
.car .card .card-car {
  padding: 10px
}
.car .card .card-car .car-name {
  font: 17px;
  font-weight: 600;
}
.car .card .card-car .car-deskription {
  font-size: 12px;
  opacity: 0.4;
}

.banner {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner .card {
  margin: 5px;
}
.banner .card:nth-child(1) {
  width: 175px;
  height: 230px;
  background: var(--color-dark);
  border-radius: 15px;
  display: flex;
  color: var(--color-white);
}
.banner .card:nth-child(1) .card-header img{
  width: 150px;
  height: 130px;
}
.banner .card:nth-child(2) {
  width: 175px;
  height: 230px;
  background: var(--color-yellow);
  border-radius: 15px;
}
.banner .card:nth-child(3) {
  width: 360px;
  height: 180px;
  border-radius: 15px;
  background: var(--color-dark-orange);
}

/* footer */



/* tablet version */

@media screen and(max-width: 768px) {
  .nav ul {
    width: 50%;
  }
}

/* mobile version */

@media screen and (max-width: 576px) {
    .menu-toggle {
      display: flex;
    }
  .nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--color-dark);
    width: 80%;
    z-index: 1;
    transform: translate(-150%);
    transition: all 1s;
  }
  .nav ul.slide {
    transform: translate(0);
  }
  .header {
    height: 300px;
    flex-direction: column;
    align-items: center;
  }
  .header-text {
    width: 300px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    line-height: 1.8;
    text-align: center;
  }
  .header-text h2 {
    font-size: 2rem;
  }
  .header-text span {
    align-items: center;
    font-size: 12px;
  }
  .header-img {
    width: 145px;
    height: 140px;
  }
  .search {
    margin-top: -20px;
  }
  .form-search .form {
    width: 220px;
    height: 40px;
  }
  .car .card {
    width: 130px;
    height: 180px;
  }
  .card-img img {
    width: 90px;
    height: 90px;
    padding-left: 20px;
  }
  .card-list {
    flex-direction: column;
  }
  .banner .card:nth-child(1), .banner .card:nth-child(2) {
    width: 270px;
    height: 330px;
  }
  .banner .card:nth-child(3) {
    width: 270px;
    height: 180px;
  }
}