@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");

html {
  font-size: 8px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
}
a {
  text-decoration: none;
}


:root {
  --bg-light: #FFFFFF;
  --color-yellow: #FFBF3D;
  --color-dark-orange: #FF8D01;
  --color-sapphire: #200440;
  --color-white: #F8F9FB;
  --color-grey: #4f5b66;
  --color-silver: #63717f;
}

/*

*/

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/*
  header
*/

.header {
  height: 350px;
  background: var(--color-yellow);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.text-header span {
  color: var(--color-sapphire);
  font-size: 2em;
  align-self: center;
  font-weight: 600;
  margin: 5px;
}
.hero-img img{
  width: 300px;
  height: 300px;
  align-self: center;
  margin-top: -30px;
}
.search {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -25px;
}
.form-search {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.form-search .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: -9px;
  z-index: 1;
  color: var(--color-grey);
}
.form-search .form {
  width: 350px;
  height: 50px;
  background: var(--color-white);
  border: none;
  font-size: 10pt;
  float: left;
  color: var(--color-silver);
  padding-left: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.form-search .form input:hover, input:focus, input:active {
  outline: none;
  color: red
}
.card-list {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.card {
  width: 200px;
  height: 230px;
  background: var(--color-white);
  margin: 10px;
  border-radius: 10px;
  justify-self: center;
}
.card-img {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}
.card-img img {
  width: 150px;
  height: 150px;
  padding-left: 25px;
}
.card-car {
  padding: 10px;
}
.car-name {
  font-size: 2rem;
  padding-left: 8px;
  font-weight: 600;
  padding-bottom: 5px;
  color: var(--color-sapphire);
}
.car-deskription {
  font-size: 12px;
  padding-left: 8px;
  color: var(--color-sapphire);
  opacity: 0.5;
}


/* mobile version */

@media screen and (max-width: 600px) {
  .header {
    height: 200px;
  }
  .search {
    margin-top: -20px;
  }
  .form-search .form {
    width: 220px;
    height: 40px;
  }
  .card {
    width: 120px;
    height: 200px;
  }
  .card-img img {
    width: 100px;
    height: 100px;
    padding-left: 10px;
  }
}
